.signup-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.signup-left {
  flex: 1;
  background-color: #000;
}

.signup-left img {
  width: 120vh;
  height: 100%;
  object-fit: cover;
}

.signup-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(239, 236, 236);
}

.signup-right h2 {
  color: #1d1e1d;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

.name-fields {
  display: flex;
  width: 110%;
  gap: 15px;
  


}

.signup-form input {
margin-bottom: 20px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
}

.signup-form button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.signup-form button:hover {
  background-color: #333;
}

.login-link {
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-link a {
  color: purple;
  text-decoration: underline;
}
